*{
    margin: 0;
    padding: 0;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url('../images/developer.png'), url('../images/header_bg.png'), #FFF8F3;
    background-repeat: no-repeat;
    background-position: left, bottom right;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo h2{
    font-size: 45px;
    
}
.color-orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style: none;
    gap:51px;
    align-items: center;
}
nav .menu li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: normal
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: #e65c00;
}
#banner{
    /* border: 1px solid blue; */
    margin:47px 38px 0 230px;
    display :flex;
    justify-content: space-between;
    align-items: center;

}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    
}
#banner .banner-content h1{
    font-size: 84px;
    color: #181818;
    font-weight: 600;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}